@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Michroma&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  user-select: none;
}

html {
  /* scroll-behavior: smooth; */
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  color: #101118;
  line-height: 1;
  font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* Preloader */

.preloader-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #101118;
  color: #f0f2f5;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preloader-circle {
  position: relative;
  width: 200px;
  height: 200px;
  /* background-color: #000; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-color: #acff4c; */
}

.preloader-circle-image {
  /* position: absolute; */
  width: 50%;
  height: 50%;
  /* background-color: #acff4c; */
  /* background-image: url(/images/logo-black.png);
  background-size: cover; */
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-circle .preloader-text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: text-wheel 10s infinite linear;
  color: #ffffff;
}

@keyframes text-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader-circle .preloader-text span {
  position: absolute;
  left: 50%;
  font-size: 15px;
  transform-origin: 0 99px;
}

/************** Cursor *******************/

/* .inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 100;
}

.inner-cursor.grow {
  width: 60px;
  height: 60px;
  transition: width 0.5s, height 0.5s;
  z-index: 100;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
} */

/* Header Main */

.header-main {
  position: relative;
}

.header-main::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(https://www.ada.cx/hubfs/raw_assets/public/2023/images/hero-line-bg.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

/* Navigation */

.header {
  padding: 3rem;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo_wrapper {
  flex: 1;
  z-index: 10;
}

.logo {
  width: 5rem;
}

.navigation {
  flex: 3;
}

.main-menu {
  display: flex;
  align-items: center;
}

.nav-items {
  padding: 0 2.5rem;
  font-size: 1rem;
  letter-spacing: -0.01em;
}

.nav-items::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.nav-items:hover::after {
  width: 100%;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.header_btn {
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  padding: 0.5rem 2rem;
  border: 2px solid rgb(0 0 0 / 24%);
  border-radius: 4rem;
  transition: all 0.5s ease-in-out;
  color: #101118;
  position: relative;
  overflow: hidden;
  letter-spacing: 4px;
  z-index: 1;
  background: rgb(255 255 255);
}

.header_btn::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: -5px;
  top: -5px;
  background-color: #000;
  border-radius: 4rem;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.header_btn:hover::after {
  transform: scale(100) translateX(2px);
}

.header_btn:hover {
  color: #f0f2f5;
}

.burger-menu {
  display: none;
}

/* Hero */

#hero {
  position: relative;
  /* padding-top: 1rem; */
  width: 100%;
  height: calc(90vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#top {
  position: absolute;
  top: 0;
}

#bottom {
  position: absolute;
  bottom: 0;
}

.text-slider {
  padding: 1rem 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.slider-text-container.top {
  display: flex;
  animation: 35s slideLeft infinite linear;
}

.slider-text-container.bottom {
  display: flex;
  animation: 35s slideRight infinite linear;
}

.slider-text {
  font-size: 3rem;
  margin: 0 20px;
  white-space: nowrap;
  font-size: 3rem;
  color: #000;
  font-family: "Michroma", sans-serif;
}

.slider-stroke {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #000000;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  /* margin: 0 auto; */
}

.hero-background {
  width: 100%;
  position: relative;
  /* background: #acff4c; */
  border-radius: 2rem;
  padding: 2rem 0;
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.header-component {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}

.header-content-wrapper {
  display: flex;
  max-width: 65em;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1rem;
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.horizontal-flex.margin-right.margin-small {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.heading-huge {
  font-size: 6rem;
  text-transform: uppercase;
}

/*   */

.header-image-wrapper {
  position: relative;
  top: -5px;
  width: 5.8rem;
  height: 5.8rem;
}

.overflow-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header-image-wrapper.image-center {
  width: 8rem;
  height: 5.5rem;
}

.hero-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  width: 3rem;
  height: 3rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease;
}

.circle-image {
  border-radius: 100%;
}

.fit-cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Wave */

.majic-wrapper {
  overflow: hidden;
}

.wave {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Magic */

/* .marquee {
  width: 100%;
  padding: 5rem 2rem; */
/* border-top: 1px solid #f0f2f5;
  border-bottom: 1px solid #f0f2f5; */
/* background-color: #101118;
  text-align: center;
  overflow: hidden;
} */

/* .marquee h3 {
  font-size: 8rem;
  color: #f0efef;
  text-transform: uppercase;
}

.marquee-wrapper {
  width: 100000px;
  animation: marqueeAnimation 38s linear 0s infinite running;
}

.marquee-title {
  margin-right: 20px;
  float: left;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #f0efef;
}

@keyframes marqueeAnimation {
  100% {
    transform: translateX(-5000px);
  }
} */

/* Clip Path */

.clip-path-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #101118;
  position: relative;
}

.clip-path {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0px at center center);
}

.innertext {
  position: absolute;
  top: 50%;
  font-family: "Michroma", sans-serif;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
  text-align: center;
  color: #101118;
  opacity: 1;
}

/* About Me */

.about-me {
  position: relative;
  /* background-color: #f0f2f5; */
}

.about-me .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 130px 0;
}

.about-me .container .row {
  width: 100%;
}

.about-title {
  text-align: center;
  padding-bottom: 70px;
}

.about-title h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.about_content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.about_left,
.about_right {
  width: 25%;
  padding: 0 2rem;
}

.about_center {
  width: 50%;
  padding: 0 4rem;
}

.about_center p {
  margin-top: 1.5rem;
  color: #555;
  font-size: 18px;
}

/* Skills */

.skills {
  position: relative;
  /* background-color: #f0f2f5; */
  width: 100%;
  height: 100vh;
}

.skills .container {
  max-width: 1300px;
  margin: 0 auto;
  /* padding: 130px 0; */
  height: 100%;
}

.skills .container h2 {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

/* .tech_list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  margin-left: 1px;
}

.tech {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border: 1px solid #555;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech img {
  max-width: 60%;
} */

.main_tech_container {
  /* width: 100%;
  height: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
}

.main_tech_container img {
  width: 50px;
  margin: 5px 10px 0 0;
}

.tech_row,
.left_row,
.right_row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tech_row .left,
.tech_row .right {
  width: 50%;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.frontend,
.backend,
.databases,
.others {
  width: 100%;
}

.frontend,
.databases {
  margin-right: 48%;
  text-align: center;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.databases {
  margin-top: 9%;
}

.backend,
.others {
  margin-left: 43%;
  text-align: center;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.backend {
  margin-top: 15%;
}

.tech_title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 10px;
}

.internet {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connecting-dots img {
  width: 300px;
  max-width: 400px;
  border: 4px dashed #d1d1d1;
  border-radius: 50%;
  padding: 10px;
}

/* Responsive */

@media (max-width: 575px) {
  .preloader-container > h1 {
    font-size: 3rem;
  }

  .header {
    padding: 1rem 0;
    height: 100px;
  }

  .header-container {
    padding: 0 1.2rem;
  }

  .navigation {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    transition: transform 0.5s ease;
    z-index: 9;
    padding-top: 7rem;
  }

  .navigation.active {
    transform: translateY(0);
  }

  .main-menu {
    flex-direction: column;
    padding: 0 6rem;
    height: 100%;
    overflow: auto;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .nav-items {
    margin-bottom: 3rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .navigation .header_btn {
    margin-left: unset;
    background: #000;
    color: #fff;
    width: 100%;
    margin-top: auto;
    display: inline-flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
    transition: all 0.5s ease;
    padding: 1.2rem 2rem;
  }

  .burger-menu {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    z-index: 9;
    display: inline-block;
  }

  .burger-menu div {
    width: 30px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: 0.5s;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  .burger-menu.active div:nth-child(1) {
    transform: translate3d(0px, 6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  }

  .burger-menu.active div:nth-child(2) {
    transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  }

  .logo {
    width: 4rem;
  }

  #hero {
    padding-top: 1rem;
    height: calc(90vh - 100px);
  }

  .wrapper {
    padding: 0 1.2rem;
  }
  .page-padding {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .header-content-wrapper {
    margin-bottom: 2rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.3rem;
  }

  .heading-huge {
    font-size: 2.6rem;
  }

  .header-image-wrapper {
    width: 2.5rem;
    height: 2.5rem;
  }

  .header-image-wrapper.image-center {
    width: 4rem;
    height: 2.5rem;
    top: 0;
  }

  .text {
    display: none;
  }

  #top {
    position: absolute;
    top: 40px;
  }

  .slider-text {
    font-size: 1.5rem;
  }

  .slider-stroke {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
  }

  .about-me .container {
    padding: 80px 0;
  }

  .about-title h2 {
    font-size: 33px;
  }
  .about_left,
  .about_right {
    width: 100%;
    padding: 0 1rem;
  }

  .about_left img,
  .about_right img {
    width: 250px;
    margin: 1rem auto;
  }

  .about_center {
    width: 100%;
    padding: 0 1rem;
  }

  .about_center p {
    margin-top: 1rem;
    font-size: 15px;
  }

  .skills {
    height: 100%;
  }

  .skills .container {
    padding: 80px 1rem;
  }

  .skills .container h2 {
    margin-bottom: 2rem;
  }

  .internet {
    display: none;
  }

  .tech_row .left,
  .tech_row .right {
    width: 100%;
  }

  .frontend,
  .databases {
    margin: 0;
  }

  .backend,
  .others {
    margin: 0;
  }

  .frontend,
  .backend,
  .databases,
  .others {
    margin-bottom: 20px;
    text-align: justify;
  }
}

/* .cb-tagreel {
  position: relative;
}

.cb-tagreel-content {
  padding: 200px 0;
}

.cb-tagreel-items {
  margin: -58px 0;
  overflow: hidden;
  cursor: default;
}

.cb-tagreel-row {
  display: flex;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.cb-tagreel-item {
  position: relative;
  line-height: 100%;
  font-size: 3.75vw;
  flex: 0 0 33%;
  padding: 58px 0;
  text-transform: uppercase;
}

.cb-tagreel-item.-stroke {
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}

.cb-tagreel-item span {
  position: relative;
  display: inline-block;
  z-index: 1;
} */
