@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Michroma&family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  /* user-select: none; */
}

html {
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 100px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  color: #101118;
  line-height: 1;
  font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* Preloader */

.intro {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #101118;
}

.logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

.intro-logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  text-transform: uppercase;
  font-family: "Michroma", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.intro-logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.intro-logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/************** Cursor *******************/

/* .inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 100;
}

.inner-cursor.grow {
  width: 60px;
  height: 60px;
  transition: width 0.5s, height 0.5s;
  z-index: 100;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
} */

/* Header Main */

.header-main {
  position: relative;
}

/* Navigation */

.header {
  padding: 3rem;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo_wrapper {
  flex: 1;
  z-index: 10;
  opacity: 0;
  transform: translateY(30px);
}

.logo {
  width: 5rem;
}

.navigation {
  flex: 3;
}

.main-menu {
  display: flex;
  align-items: center;
}

.nav-items {
  padding: 0 2.5rem;
  font-size: 1rem;
  letter-spacing: -0.01em;
  transform: translateY(30px);
  opacity: 0;
}

.nav-items::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.nav-items:hover::after {
  width: 100%;
}

.nav-links {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
}

.header_btn {
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  padding: 0.5rem 2rem;
  border: 2px solid rgb(0 0 0 / 24%);
  border-radius: 4rem;
  transition: all 0.5s ease-in-out;
  color: #101118;
  position: relative;
  overflow: hidden;
  letter-spacing: 4px;
  z-index: 1;
  background: rgb(255 255 255);
}

.header_btn::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: -5px;
  top: -5px;
  background-color: #000;
  border-radius: 4rem;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.header_btn:hover::after {
  transform: scale(100) translateX(2px);
}

.header_btn:hover {
  color: #f0f2f5;
}

.burger-menu {
  display: none;
}

/* Hero */

#hero {
  position: relative;
  width: 100%;
  height: calc(90vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#top {
  position: absolute;
  top: 0;
}

#bottom {
  position: absolute;
  bottom: 0;
}

.text-slider {
  padding: 1rem 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  transform: translateY(100px);
  opacity: 0;
}

.slider-text-container.top {
  display: flex;
  animation: 35s slideLeft infinite linear;
}

.slider-text-container.bottom {
  display: flex;
  animation: 35s slideRight infinite linear;
}

.slider-text {
  font-size: 2rem;
  margin: 0 20px;
  white-space: nowrap;
  color: #000;
  font-family: "Michroma", sans-serif;
}

.slider-stroke {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #000000;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
}

.hero-background {
  width: 100%;
  position: relative;
  border-radius: 2rem;
  padding: 2rem 0;
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.header-component {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}

.header-content-wrapper {
  display: flex;
  max-width: 65em;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1rem;
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.horizontal-flex.margin-right.margin-small {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.heading-huge {
  font-size: 5rem;
  text-transform: uppercase;
  transform: translateY(1130px);
}

/* About Me */

.about-me {
  position: relative;
  overflow-x: hidden;
}

.about-me .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}

.about-me .container .row {
  width: 100%;
}

.about-title {
  padding-bottom: 70px;
}

.about-title h2 {
  font-size: 5rem;
  text-transform: uppercase;
}

.about_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about_left,
.about_right {
  width: 50%;
  padding: 0 2rem;
  opacity: 0;
}

.about_left {
  transform: translateX(-200px);
}

.about_right {
  transform: translateX(200px);
}

.about_right p {
  margin-bottom: 1.5rem;
  color: #6c757d;
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
}

/* Skills */

.skills {
  position: relative;
  background: #101118;
  margin: 100px 0;
}

.skills .wave-top,
.skills .wave-bottom {
  position: absolute;
  width: 100%;
}

.skills .wave-top {
  bottom: 99%;
}

.skills .wave-bottom {
  transform: rotate(180deg);
  top: 99%;
}

.skills .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
  height: 100%;
}

.skills .container h2 {
  margin-bottom: 5rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  color: #f0f2f5;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.skills .section-heading .word {
  transform: translateY(50px);
  opacity: 0;
}

.main-tech-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 5rem;
  align-items: baseline;
  max-width: 1000px;
  margin: 0 auto;
}

.tech-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.techImg {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin: 0 auto;
}

.tech-container h6 {
  font-size: 0.8rem;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  margin-top: 1rem;
  color: #fff;
}

/* Experience Section */

.experience {
  position: relative;
  width: 100%;
}

.experience .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}

.experience .container h2 {
  margin-bottom: 5rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.experience .section-heading .word {
  transform: translateY(50px);
  opacity: 0;
}

.main_exp_container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 2rem 0;
}

.exp_container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 2em 0;
}

.exp_container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  margin-left: -2px;
  height: 100%;
  width: 4px;
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.8) 40%,
    rgba(234, 234, 236, 0.45) 100%
  );
}

.vertical-timeline-element {
  margin: 2em 0;
  position: relative;
}

.vertical-timeline-element:first-child {
  margin-top: 0;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(51, 51, 51);
  box-shadow: 0 0 0 4px #afafafd2, inset 0 2px #00000014, 0 3px 0 4px #0000000d;
}

.company-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.vertical-timeline-element-content {
  margin-left: 60px;
  padding: 1.5em;
  background: rgb(234, 234, 236);
  color: rgb(41, 41, 41);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0.25em;
  position: relative;
}

.vertical-timeline-element-content-arrow {
  content: "";
  position: absolute;
  top: 24px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid rgb(35, 38, 49);
}

.vertical-timeline-element-content h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
}

.vertical-timeline-element-content p {
  margin: 1em 0 0;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(153 153 161 / var(--tw-text-opacity));
  text-transform: uppercase;
}

.vertical-timeline-element-date {
  font-size: 1rem;
  padding: 0.8em 0;
  opacity: 0.7;
}

.vertical-timeline-element-date h3 {
  font-size: 18px;
}

/* Achievements */

.achievements {
  background: #000;
}

.achievements .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 130px 0;
}

.achievements_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.certificate_container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.certificate_container h2 {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

#cert_img {
  position: absolute;
  bottom: 10%;
  left: 0;
  border-radius: 10px;
  width: 500px;
}

.achievements_container {
  width: 60%;
  padding: 0 2rem;
}

.achievements_container li {
  color: #fff;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid #525252;
  transition: 0.5s ease;
}

.achievements_container li:hover {
  background: #1c1c1c;
}

.achievements_container li h3 {
  font-size: 2rem;
  transition: 0.5s ease;
  font-family: "Manrope", sans-serif;
}

.achievements_container li:hover h3 {
  text-decoration: underline;
}

.achievements_container li p {
  font-size: 1rem;
  color: #9a9a9a;
}

/* Prjects */

.projects .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}

.projects .section-heading {
  font-size: 3rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.projects_container {
  padding: 100px 0;
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;
}

.project_image_container,
.project_dis_container {
  width: 50%;
  padding: 1rem;
}

.project_image_container img {
  width: 100%;
  border-radius: 20px;
}

.project_content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.project_content ul {
  padding: 0 1.5rem;
}

.project_content li {
  list-style: disc;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  color: #6c757d;
}

/* Footer */

.curve {
  width: 100%;
}

footer {
  background-color: #101118;
}

footer .container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 4rem;
}

footer .content {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0;
}

footer .info,
footer .form_container {
  width: 50%;
  padding: 20px;
}

footer .info {
  position: relative;
}

.info .circle {
  width: 300px;
  position: absolute;
  top: -3rem;
  left: -5rem;
}

footer .info h1 {
  font-size: 5rem;
  color: #f0f2f5;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.contact_details {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.contact_details h6 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.contact_info a {
  display: block;
  color: #b0b0b0;
  font-size: 1rem;
  font-weight: 300;
}

.social a {
  color: #b0b0b0;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 10px;
}

.form_container input,
.form_container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid #ced4da;
  padding: 10px;
  margin: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  color: #ced4da;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
}

.form_container form button {
  width: 100px;
  height: 30px;
  color: #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.5s;
  border: none;
  font-size: 1.2rem;
  border: 0.5px solid #fff;
  transition: 0.5s ease;
  float: right;
}

.form_container form button:hover {
  background: #fff;
  color: #000;
}

.credits {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fff;
}

.copyright p {
  font-size: 13px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  margin: 0;
}

/* Responsive */

@media only screen and (min-width: 1170px) {
  .slider-text {
    font-size: 3rem;
  }

  .heading-huge {
    font-size: 6rem;
  }

  .exp_container:before {
    left: 50%;
    margin-left: -2px;
  }

  .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 124%;
    top: 6px;
    float: left;
  }

  .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }

  .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }

  .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media (max-width: 799px) {
  .navigation {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    transition: transform 0.5s ease;
    z-index: 9;
    padding-top: 7rem;
  }

  .navigation.active {
    transform: translateY(0);
  }

  .main-menu {
    flex-direction: column;
    padding: 0 6rem;
    height: 100%;
    overflow: auto;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .nav-items {
    margin-bottom: 3rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .navigation .header_btn {
    margin-left: unset;
    background: #000;
    color: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
    transition: all 0.5s ease;
    padding: 0.5rem 2rem;
  }

  .burger-menu {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    z-index: 9;
    display: inline-block;
  }

  .burger-menu div {
    width: 30px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: 0.5s;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  .burger-menu.active div:nth-child(1) {
    transform: translate3d(0px, 6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  }

  .burger-menu.active div:nth-child(2) {
    transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  }

  .heading-huge {
    font-size: 5rem;
  }

  .about_left,
  .about_right {
    width: 100%;
    padding: 0 1rem;
  }

  .main-tech-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .certificate_container,
  .achievements_container {
    width: 100%;
  }

  .certificate_container {
    margin-bottom: 5rem;
  }

  .project_image_container,
  .project_dis_container {
    width: 100%;
  }

  footer .info,
  footer .form_container {
    width: 100%;
  }

  .intro-logo {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .intro-logo {
    font-size: 1rem;
  }

  .header {
    padding: 1rem 0;
    height: 100px;
  }

  .header-container {
    padding: 0 1.2rem;
  }

  .main-menu {
    padding: 0 5rem;
  }

  .logo {
    width: 4rem;
  }

  #hero {
    padding-top: 1rem;
    height: calc(90vh - 100px);
  }

  .wrapper {
    padding: 0 1.2rem;
  }
  .page-padding {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .header-content-wrapper {
    margin-bottom: 2rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.3rem;
  }

  .heading-huge {
    font-size: 2.6rem;
  }

  .text {
    display: none;
  }

  #top {
    position: absolute;
    top: 40px;
  }

  .slider-text {
    font-size: 1.5rem;
  }

  .slider-stroke {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
  }

  .about-me .container {
    padding: 80px 0;
  }

  .skills {
    height: 100%;
  }

  .skills .container {
    padding: 80px 1rem;
  }

  .skills .container h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .main-tech-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .techImg {
    width: 60px;
    height: 60px;
  }

  .tech-container h6 {
    font-size: 1rem;
  }

  .experience .container h2 {
    font-size: 2rem;
  }

  .vertical-timeline-element-content h3 {
    font-size: 19px;
  }

  .vertical-timeline-element-content p {
    font-size: 1rem;
  }

  .vertical-timeline-element-date h3 {
    font-size: 12px;
  }

  .experience .container {
    padding: 0 0 50px 0;
  }

  .certificate_container h2 {
    font-size: 2rem;
    text-align: center;
  }

  .achievements_container li {
    padding: 1rem 0 1rem 0;
  }

  .achievements_container li h3 {
    font-size: 1rem;
  }

  .projects .section-heading {
    font-size: 2rem;
  }

  .projects_container {
    padding: 50px 0;
  }

  .project_image_container img {
    border-radius: 10px;
  }

  .projects .container {
    padding: 100px 0 0 0;
  }

  .info .circle {
    width: 250px;
    top: -3rem;
    left: 0rem;
  }

  footer .info h1 {
    font-size: 3rem;
  }

  .contact_details h6 {
    font-size: 1rem;
  }

  .contact_info a {
    font-size: 13px;
  }

  .social a {
    font-size: 1.5rem;
  }

  .copyright p {
    font-size: 10px;
  }
}
