@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  user-select: none;
}

html {
  /* scroll-behavior: smooth; */
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
}

/* body::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  color: #101118;
  line-height: 1;
  font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* Preloader */

.preloader-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #101118;
  color: #f0f2f5;
  z-index: 999;
}

.preloader-container > h1 {
  position: absolute;
  font-size: 120px;
  color: #f0f2f5;
  font-family: "Oswald", sans-serif;
  right: 45%;
  overflow: hidden;
}

.preloader-container > h1#first {
  bottom: 5%;
}

.preloader-container > h1#second {
  bottom: 30%;
}

.preloader-container > h1#third {
  bottom: 50%;
}

.preloader-container > h1#fourth {
  top: 5%;
}

.preloader-container > h3 {
  color: #f0f2f5;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 11%;
  font-size: 28px;
  /* letter-spacing: 3px; */
  font-weight: 300;
  left: 6%;
}

/************** Cursor *******************/

/* .inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 100;
}

.inner-cursor.grow {
  width: 60px;
  height: 60px;
  transition: width 0.5s, height 0.5s;
  z-index: 100;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
} */

/* Navigation */

/* .header {
  padding: 2.5rem 0;
}

.header-container {
  width: 100%;
  max-width: 1280px;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo_wrapper {
  width: 4rem;
  z-index: 10;
}

.navigation {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #b8ff65;
  transition: transform 0.5s ease;
  z-index: 9;
  padding-top: 7rem;
}

.navigation.active {
  transform: translateY(0);
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
  height: 100%;
  overflow: auto;
  justify-content: space-between;
  padding-bottom: 50px;
}

.nav-items {
  margin-bottom: 3rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.navigation .header_btn {
  margin-left: unset;
  background: #000;
  color: #fff;
  width: 100%;
  margin-top: auto;
  display: inline-flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
  transition: all 0.5s ease;
  padding: 1.2rem 2rem;
}

.burger-menu {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  z-index: 9;
}

.burger-menu div {
  width: 30px;
  height: 2px;
  background-color: #000000;
  margin-bottom: 10px;
  border-radius: 3px;
  transition: 0.5s;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.burger-menu.active div:nth-child(1) {
  transform: translate3d(0px, 6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}

.burger-menu.active div:nth-child(2) {
  transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
} */

.header {
  padding: 3rem;
}

.header-container {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo_wrapper {
  flex: 1;
  z-index: 10;
}

.logo {
  width: 5rem;
}

.navigation {
  flex: 3;
}

.main-menu {
  display: flex;
  align-items: center;
}

.nav-items {
  padding: 0 2.5rem;
  font-size: 1rem;
  letter-spacing: -0.01em;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.header_btn {
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  padding: 0.5rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
  transition: all 0.5s ease-in-out;
  color: #101118;
  position: relative;
  overflow: hidden;
  letter-spacing: 4px;
  z-index: 1;
}

.header_btn::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: -5px;
  top: -5px;
  background-color: #000;
  border-radius: 4rem;
  /* color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; */
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.header_btn:hover::after {
  transform: scale(100) translateX(2px);
}

.header_btn:hover {
  color: #f0f2f5;
}

/* Hero */

#hero {
  position: relative;
  padding-top: 1rem;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero-background {
  width: 100%;
  position: relative;
  background: #acff4c;
  border-radius: 2rem;
  padding: 2rem 0;
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.header-component {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}

.header-content-wrapper {
  display: flex;
  max-width: 65em;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1rem;
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.horizontal-flex.margin-right.margin-small {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.heading-huge {
  font-size: 5.8rem;
}

/*   */

.header-image-wrapper {
  position: relative;
  top: -5px;
  width: 5.8rem;
  height: 5.8rem;
}

.overflow-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header-image-wrapper.image-center {
  width: 8rem;
  height: 5.5rem;
}

.hero-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  width: 3rem;
  height: 3rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease;
}

.header-image-wrapper.circle-wrapper {
  width: 150px;
  height: 150px;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image {
  position: absolute;
  width: 80%;
  height: 80%;
  background-image: url(/images/me.jpeg);
  background-size: cover;
  border-radius: 50%;
}

.circle .text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: text-wheel 10s infinite linear;
  color: #101118;
}

.backdrop {
  width: 0%;
  height: 0;
  position: fixed;
  top: 0;
  background-color: #14141469;
  display: none;
  z-index: 101;
}

.backdrop img {
  width: 500px;
}

/* .backdrop.active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
} */

@keyframes text-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle .text span {
  position: absolute;
  left: 50%;
  font-size: 10px;
  transform-origin: 0 75px;
}

/* Wave */

.majic-wrapper {
  overflow: hidden;
}

.wave {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Magic */

.clip-path-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #101118;
  position: relative;
}

.clip-path {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0f2f5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0px at center center);
}

.innertext {
  position: absolute;
  top: 50%;
  font-family: "Michroma", sans-serif;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
  text-align: center;
  color: #101118;
  opacity: 1;
}

.about-me {
  position: relative;
  background-color: #f0f2f5;
  padding: 100px;
  color: #f0f2f5;
  margin-top: 0;
  font-family: "Michroma", sans-serif;
}
